a:hover{
  text-decoration: none;
}
nav{
  background: #fff;
  color: #111;
  padding: 15px 0!important;
}
.navbar .navbar-nav li a {
  font-size: 14px;
  color: #233c4c;
}
.navbar .navbar-nav li {
  position: relative;
  margin: 0 7px;
}
.request-btn {
  background-color: #be2664;
  border-color: #be2664!important;
  color: #fff!important;
  font-size: 12px;
  border: 1px solid #183c60;
  border-radius: 30px;
  padding: 8px 25px;
  transition: all .3s ease-out;
}
.request-btn:hover{
  color: #be2664!important;
    background-color: #fff;
}
.contact-btn {
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #183c60;
  border-radius: 30px;
  font-family: 'SegoeUI-Semibold';
  padding: 8px 25px;
  transition: all .3s ease-out;
}
.contact-btn:hover {
  background-color: #183c60;
  color: #fff!important;
  transition: all .3s ease-out;
}
.newsletter-sec {
  background-color: #24375b;
  padding: 80px 0;
}
.newsletter-sec h1 {
  color: #fff;
  text-align: center;
  font-size: 80px;
  line-height: 1.1;
}
.newsletter-sec h4 {
  color: #fff;
  text-align: center;
  max-width: 800px;
  margin: 20px auto;
  font-size: 21px;
}
.newsletter-sec .service-form-box {
  display: flex;
  justify-content: center;
  margin: 40px 0 0;
}
.service-form-box >.form-group {
  width: calc(100%/2 - 10px);
}
.newsletter-sec .service-form-box .form-control {
  border-radius: 30px;
  padding: 20px;
  height: auto;
  border: 0;
  font-size: 16px;
  color: #d1d8e4;
}
.red-btn {
  background-color: #be2664;
  border-color: #be2664;
  color: #fff;
  font-weight: 600;
  border-radius: 30px;
  padding: 18px 75px 18px 60px;
    font-size: 18px;
}
.red-btn:hover {
  color: #be2664;
  background-color: #fff;
}
.blog-page-sec {
  padding: 50px 0;
  background-color: #fcfcfc;
}
.bottom{
  padding: 100px 0 50px;
  background-color: #fff;
}
img {
  margin-right: 15px;
  object-fit: contain;
  width: 100%;
}
.blog-list-row .blog-list-box {
  padding: 25px;
  background-color: #ffffff;
  border: 1px solid #c6d1e1;
  margin-bottom: 30px;
}
.blog-list-bottom {
  margin-top: 60px;
}
.blog-list-box h3 a {
  color: #24375b;
}
.footer-box .tech-img ul li {
  display: inline-block;
  margin: 0 20px 20px 0;
}
.footer-tech-row {
  margin-top: -40px;
}
.footer-box h3 {
  font-size: 14px;
  color: #24375b;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.footer-box .footer-service-menu li a {
  font-size: 14px;
  color: #5b6372;
}
.footer-box .footer-service-menu li {
  position: relative;
  padding-left: 20px;
}
.footer-box {
  margin-bottom: 30px;
}
.blog-sidebar {
  padding: 40px 30px;
  background-color: #ecf2fa;
  height: calc(100% - 30px);
}
.blog-sidebar-box {
  background-color: #fff;
  padding: 25px;
  margin-bottom: 30px;
}
.blog-sidebar-box h4 {
  font-size: 18px;
  color: #08314d;
  margin: 0 0 20px;
}
.blog-sidebar-list h3 {
  font-size: 18px;
  color: #08314d;
  font-weight: 600;
  margin-bottom: 17px;
}
.blog-sidebar-list ul li a {
  font-size: 14px;
  line-height: 18px;
  color: #08314d;
}
.blog-list-box h3 a:hover {
  color: #b22763;
}
.blog-sidebar-list {
  margin-bottom: 40px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  font-size: 18px;
  color: #122748;
}
.footer-box .footer-service-menu {
  column-count: 2;
  max-width: 400px;
}
.footer-box .footer-service-menu li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 14px;
  background-image: url("http://design.ukwebsitedesigncompany.co.uk/logicsoft-newdesign-2020/html/img/footer-arrow.png");
  width: 10px;
  height: 7px;
  background-size: contain;
  background-repeat: no-repeat;
}
.footer-box h3 {
  font-size: 14px;
  color: #24375b;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.footer-contact ul li span {
  width: 90px;
  display: table-cell;
}
.footer-contact ul li {
  line-height: 30px;
  display: table;
}
.footer-contact ul li, .footer-contact ul li a {
  font-size: 13px;
  color: #5b6372;
}
.footer-social ul li a i {
  color: #dddddd;
  font-size: 36px;
}
.footer-social ul li {
  display: inline-block;
  margin-right: 5px;
}
.footer-box .footer-menu li a {
  font-size: 14px;
  font-weight: 600;
  color: #24375b;padding-bottom: 2%;
  text-transform: uppercase;
}
.footer-box .footer-menu li {
  margin-bottom: 20px;
  line-height: 1;
}
.copyright {
  padding: 30px 0;
  background-color: #fcfcfb;
  border-top: 1px solid #e4e4e4;
}
.copyright p {
  text-align: center;
  font-size: 14px;
  color: #5b6372;
  margin: 0;
}
.service-contact-sec {
  position: relative;
  background-color: #24375b;
}
.service-contact-sec >.container:before {
  content: '';
  position: absolute;
  background-image: url("http://design.ukwebsitedesigncompany.co.uk/logicsoft-newdesign-2020/html/img/telegram-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
  width: 100%;
  height: 100%;
  top: 0;
  left: -40px;
}
.service-contact-left h3 {
  font-size: 36px;
  color: #fff;
  max-width: 350px;
  margin-top: 80px;
}
.service-contact-sec h4 {
  font-size: 18px;
  color: #fff;
  line-height: 1.7;
  max-width: 500px;
  margin: 50px 0;
}
.service-contact-sec h4 span {
  color: #ff549a;
}
.service-contact-left h3 {
  font-size: 36px;
  color: #fff;
  max-width: 350px;
  margin-top: 80px;
}
.service-contact-form {
  background-color: rgb(45 64 100 / 0.5);
  border: 1px solid #38548a;
  box-shadow: 2.939px 4.045px 12px rgba(0,0,0,0.16);
  padding: 30px;
}
.service-form-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.service-contact-form form .submit-btn {
  margin-top: 30px;
}
.service-form-box >.form-group {
  width: calc(100%/2 - 10px);
}
.service-form-box label {
  color: #cbdbf9;
  font-size: 16px;
  font-weight: 600;
}
.service-contact-sec .container {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}
.blog-page-sec {
  padding: 50px 0;
  background-color: #fcfcfc;
}
.blog-page-in {
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ededed;
}
.blog-list-top .blog-list-box {
  padding-left: 25px;
}
.blog-list-top .blog-list-box h3 {
  font-size: 25px;
  max-width: 340px;
}
.blog-list-box h3 {
  font-size: 23px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #24375b;
  margin-bottom: 20px;
  height: 90px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blog-list-box h3 a {
  color: #24375b;
}
.blog-list-top .blog-list-box .blog-desc {
  font-size: 16px;
  letter-spacing: 0;
}
.blog-list-box .blog-desc {
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 24px;
  color: #24375b;
  margin-bottom: 25px;
  height: 70px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blog-list-box .btn-white {
  font-size: 13px;
  font-family: 'SegoeUI-Semibold';
  padding: 6px 30px 6px 15px;
}
.blog-list-box .blog-list-author {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.blog-list-box .blog-author-name h4 a {
  color: #b22763;
}
.blog-list-box .blog-author-name h4 span {
  display: block;
}
.blog-list-box .blog-list-author img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  object-fit: contain;
}
.blog-pagination ul li {
  display: inline-block;
  margin-right: 5px;
}
.blog-pagination ul li .active a {
  background-color: #be2664!important;
  color: #fff;
}
.blog-pagination ul li a {
  font-size: 16px;
  display: inline-block;
  background-color: #ecf2fa!important;
  padding: 8px 18px;
  color: #667788;
  font-family: 'SegoeUI-Semibold';
}